@page "/pr/details/{productId}"
@using Pricely.Libraries.Services.Models.PriceRunner
@using Pricely.Libraries.Services.Services
@inject IGetPriceRunnerResults _priceRunnerResults

@if (Details != null)
{
    <!-- Er stadig under udviklingbesked.. -->
    <div class="absolute left-2 top-2 rounded-full bg-green-200 px-2 py-1 text-sm font-medium text-green-700">
        Denne side er stadig under udvikling.. (Ratings osv fungerer ikke indtil videre.)
    </div>

    <MudContainer MaxWidth="MaxWidth.Large" Class="border-0 mx-auto mt-10 space-y-6 p-4">

        <!-- MudCard oversigt over produkt detaljer. -->
        <MudCard Class="@CardFullTailwind">

            <MudGrid Spacing="0">

                <!-- Produktbillede -->
                <MudItem xs="4">
                    <MudImage Src="@Details.ImageUrls[0]" Alt="Product Image" Class="w-full rounded-tl-lg" />
                </MudItem>

                <!-- Indhold -->
                <MudItem xs="8">
                    <MudCardContent Class="px-4 py-3">
                        <!-- Title -->
                        <MudText Color="Color.Primary" Typo="Typo.h5">@Details.Name</MudText>

                        <!-- Rating (Ikke implementeret) -->
                        <div class="mt-1 flex items-center space-x-1 text-yellow-500">
                            <MudRating Value="4.5" MaxValue="5" ReadOnly="true" Size="Size.Small" />
                            <MudText Color="Color.Primary" Typo="Typo.body2">4.5 (fx)</MudText>
                        </div>

                        <!-- Beskrivelse -->
                        <MudText Color="Color.Primary" Typo="Typo.body1">@Details.Description</MudText>

                        <MudLink Href="@Details.PriceRunnerUrl" Color="Color.Surface" Class="text-blue-500">Se på PriceRunner..</MudLink>

                        <!-- Fra X til Y pris.. -->
                        <div class="mt-4 flex items-center space-x-2">
                            <MudText Color="Color.Primary" Typo="Typo.body2">Sammenlign priser fra</MudText>
                            <MudText Color="Color.Secondary" Typo="Typo.body2">@Details.MinPrice</MudText>
                            <MudText Color="Color.Primary" Typo="Typo.body2">til</MudText>
                            <MudText Color="Color.Secondary" Typo="Typo.body2">@Details.MaxPrice</MudText>
                        </div>
                    </MudCardContent>
                </MudItem>

            </MudGrid>
        </MudCard>

    </MudContainer>

    @foreach (var merchant in Details.Merchants)
    {
        <MudPaper Class="pa-4 mt-3">
            <MudGrid>
    <MudItem xs="12">
        <MudGrid>
            <MudItem xs="1">
                <MudAvatar Icon="@Icons.Material.Filled.Store" Size="Size.Large" />
            </MudItem>
            <MudItem xs="11">
                <MudText Typo="Typo.h6">@merchant.Name</MudText>
                <MudRating Value="4.8" MaxValue="5" ReadOnly="true" />
                <MudText Color="Color.Primary" >(X)</MudText>
            </MudItem>
        </MudGrid>
    </MudItem>
    <MudItem xs="12">
        <MudText Typo="Typo.subtitle1">
            @merchant.MerchantProductName
        </MudText>
    </MudItem>
    <MudItem xs="12">
        <MudGrid>
            <MudItem xs="6">
                <MudText Typo="Typo.body2">Fri fragt, 1-2 dage</MudText>
            </MudItem>
            <MudItem xs="6" Class="d-flex justify-end">
                <MudText Typo="Typo.h5">4.206 kr.</MudText>
                <MudIconButton Href="@merchant.ProductUrl" Icon="@Icons.Material.Filled.ArrowForward" />
            </MudItem>
        </MudGrid>
    </MudItem>
</MudGrid>



        </MudPaper>
    }



}
else
{
    <MudText>Produktet indlæses.. (Refresh siden hvis der går for lang tid)</MudText>

}




@code {
    [Parameter]
    public string ProductId { get; set; }


    [CascadingParameter(Name = "IsDarkMode")]
    public bool IsDarkMode { get; set; }

    private string CardBackground => IsDarkMode ? "bg-[#292a2d]" : "bg-[#f7f7fa]";

    private string CardFullTailwind => $"rounded-lg border-1  shadow-lg {CardBackground}";

    public PriceRunnerProductDetails Details { get; set; }


    protected override async Task OnInitializedAsync()
    {
        Details = await _priceRunnerResults.GetProductDetailsFromId(ProductId);
    }
}
