@page "/pr/details/{categoryId}/{productId}"
@using Pricely.Libraries.Shared.Models
@using PricelyWeb.Client.Components.ProductDetails
@using PricelyWeb.Services
@using PricelyWeb.Services.PricelySettings
@rendermode InteractiveWebAssembly
@inject IGetPriceRunnerResults _priceRunnerResults
@inject HttpClient _httpClient
@inject PricelySettings _settings

@if (Details != null)
{
    <!-- Er stadig under udviklingbesked.. -->
    <div class="absolute left-2 top-2 rounded-full bg-green-200 px-2 py-1 text-sm font-medium text-green-700">
        Denne side er stadig under udvikling.. (Ratings osv fungerer ikke indtil videre.)
    </div>

    <ProductBanner PriceRunnerUrl="@Details.PriceRunnerUrl" Description="@Details.Description" ImageUrls="@Details.ImageUrls" ProductName="@Details.Name" MaxPrice="@Details.MaxPrice" MinPrice="@Details.MinPrice"/>

    <Merchants ProductDetails="@Details"/>
    <br/>

    <PricelyWeb.Client.Components.Global.Warnings.DataDisclaimer/>


}
else
{
    <MudText>Produktet indlæses.. (Refresh siden hvis der går for lang tid)</MudText>
    <div class="flex h-screen items-center justify-center">
        <MudCard>
            <MudSkeleton SkeletonType="SkeletonType.Rectangle" Height="500px" Width="500px" />
            <MudCardContent>
                <MudSkeleton Width="30%" Height="42px;" />
                <MudText Color="Color.Primary">Produktet og butikker indlæses..</MudText>
                <MudSkeleton Width="80%" />
                <MudSkeleton Width="100%" />
            </MudCardContent>
            <MudCardActions>
                <MudSkeleton Width="64px" Height="40px" Class="ml-2" />
                <MudSkeleton Width="105px" Height="40px" Class="ml-3" />
            </MudCardActions>
        </MudCard>
    </div>

}




@code {
    [Parameter]
    public string ProductId { get; set; }

    [Parameter]
    public string CategoryId { get; set; }



    public PriceRunnerProductDetails Details { get; set; }


    protected override async Task OnInitializedAsync()
    {
        Details = await _priceRunnerResults.GetProductDetailsFromId(ProductId, CategoryId);

    }
}
